<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShikamiC_Assignment5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE23B9D11E4A956F002C4DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE23B9E51E4A956F002C4DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE23B9F01E4A956F002C4DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
